@mixin button($color: green) {
  height: 24px;
  min-width: 24px;
  text-align: center;
  padding: 2px;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, .7);

  & i {
    font-size: 20px;
  }

  &:active,
  &.active {
    color: $color;
  }

  &:hover {
    background: #eee;
    border-radius: 2px;
    cursor: pointer;
  }
}

@mixin clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}